# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
.expo-shared/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Keamanan dan kredensial
.env
.env.*
google-services.json
GoogleService-Info.plist
firebase-credentials.json
app.config.local.js
eas.json
credentials.json

# File konfigurasi lokal
app.config.local.js
eas.local.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
coverage/

# Editor
.idea
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Misc
.project
.classpath
.settings/
.yarn/

# Build artifacts
android/
ios/
